/************************************
::::: Colors :::::
************************************/
$main-color: #434F82;
$sd-main-color: #009B65;
$dark-color: #222636;
$dark-color-desc: #565656;
$white: #FFFFFF;
$black: #000000;
$light-color: #E1E1E1;
$danger: #CB2C2C;
$success: #099219;

/************************************
::::: Fonts :::::
************************************/
$font-family: "Ubuntu";

$font-size-xl: 26px;
$font-size-l: 18px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 11px;

$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 38px;
$font-size-h4: 19px;
$font-size-h5: 18px;
$font-size-h6: 10px;

$font-weight-normal: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

$spacer: 40px;