@import 'config';
@import 'mixins';

.outer-container {
	overflow: hidden;
	padding: 0 10px;
	margin: 0;

	@include from(600px) {
		padding: 0 20px;
	}
}

.container {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 10px;

	@include from(600px) {
		padding: 0 20px;
	}
}

.section,
.section-light {
	position: relative;
	padding: 60px 0;
	overflow: hidden;
}

.section-header,
.section-header-light {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 40px;
	margin-top: -6px;

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 50px;
		height: 1px;
		background: $black;
		opacity: 0.2;
	}

	h3 {
		position: relative;
		display: inline-block;
		margin: 0 auto 5px;
		font-size: $font-size-h3;
		text-align: center;
		line-height: 1;
		color: $dark-color;
		font-weight: $font-weight-semi-bold;
		text-transform: uppercase;
	}

	h4 {
		font-weight: $font-weight-normal;
		text-align: center;
		font-size: $font-size-m;
		color: $dark-color-desc;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
}

.section-header-light {

	h3,
	h4 {
		color: $white;
	}
}

body:not( .user-is-tabbing ) button:focus,
body:not( .user-is-tabbing ) input:focus,
body:not( .user-is-tabbing ) select:focus,
body:not( .user-is-tabbing ) textarea:focus
body:not( .user-is-tabbing ) a:focus {
  outline: none;
}