@import 'config';

@mixin transition($duration: 0.3s) {
	transition: $duration;
	&:hover {
		transition: $duration;
	}
}
@mixin btn_hover($bgc: $sd-main-color, $color: $white) {
	@include transition();
	&:hover {
		background: $bgc;
		color: $color;
	}
}
@mixin link_hover($color: $white) {
	@include transition();
	&:hover {
		color: $color;
	}
}

@mixin clx() {
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}

@mixin main_btn($padding: 15px 30px, $radius: 5px, $font-size: $font-size-m) {
	background: $main-color;
	color: $white;
	padding: $padding;
	border-radius: $radius;
	font-size: $font-size;
	font-weight: $font-weight-normal;
	border: none;
	cursor: pointer;
	@include btn_hover(darken($main-color, 5%));
}

@mixin sd_btn( $padding: 15px 30px, $radius: 5px, $font-size: $font-size-m) {
	background: $sd-main-color;
	color: $white;
	padding: $padding;
	border-radius: $radius;
	font-size: $font-size;
	font-weight: $font-weight-normal;
	border: none;
	cursor: pointer;
	@include btn_hover(darken($sd-main-color, 5%));
}

@mixin bgc_img($url, $overlay: false) { // Second argument should be color.
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	@if $overlay {
		display: none;
	}
}

@mixin from($width) {
	@media(min-width: $width) {
		@content;
	}
}

@mixin input() {
	padding: 10px;
}

@mixin absolute_center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


