@import 'config';

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;

}

h6 {
	font-size: $font-size-h6;
}

h1, h2, h3, h4, h5, h6, p, span, label, input, textarea, button, a, li, ol {
	font-family: $font-family;
	font-weight: $font-weight-normal;
	color: $dark-color;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

p, li, ol {
	line-height: 22px;
	font-size: $font-size-m;
}