@import "../global/config.scss";
@import "../global/mixins.scss";

.top-photo-offer {
	position: absolute;
	top: 0;
	right: -500px;
	width: 100%;
	height: 400px;
	background-size: 100%;
	background-position: right center;
	background-repeat: no-repeat;
}

.about-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
}

.about-container p {
	font-size: 18px;
}

.about-company-title {
	width: 100%;
	font-size: 30px;
	font-weight: 300;
	margin: 70px 0 20px 0;
	color: $sd-main-color;
}

.about-company-title:first-child {
	margin: 0 0 20px 0;
}

.about-company-description {
	width: 100%;
	color: $dark-color-desc;
	font-size: 20px;
	line-height: 28px;
}

.about-services-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 70px;
}

.about-one-service {
	width: calc(50% - 25px);
}

.about-one-service ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-one-service li {
	position: relative;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 10px;
	color: $dark-color;

	&:before {
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 10px;
		border-radius: 100%;
		background: $main-color;
	}
}

.about-one-service li:last-child {
	margin: 0;
}

.about-one-service p {
	display: none;
}