@import "../global/config.scss";
@import "../global/mixins.scss";

.contact {
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  z-index: 30;
  background: $dark-color;
  overflow-y: auto;
  padding: 60px 30px;
  text-align: center;
  display: none;
  align-items: center;

  @include from(600px) {
    width: 500px; 
    height: auto;
    border-radius: 5px;
  }

  &-visible {
    display: flex;
    @include from(600px) {
      display: block;
    }
    animation-name: show_contact;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;

    @keyframes show_contact {
      from { 
        top: -200px;
      }
      to { 
        top: 50%;
      }
    }
  }

  .hide-contact {
  	@include sd_btn($padding: 10px 20px, $font-size: $font-size-m);
    margin-bottom: 30px;
  }

  address {
    @include from(600px) {
      text-align: left;
      @include clx();
    }
  }

  .address-tels {
    margin: 10px 0 20px;

    p {
      color: white;
    }

    @include from(600px) {
      margin: 0;
      float: left;
      width: 45%;
    }

    span {
      color: $sd-main-color;
    }
  }

  .address-hours {
    margin: 10px 0 20px;

       p {
      color: white;
    }

    @include from(600px) {
      margin: 0;
      float: right;
      width: 45%;
    }

    span {
      color: $sd-main-color;
    }
  }

  h4 {
    color: white;
    margin-bottom: 15px;
    @include from(600px) {
      text-align: left;
    }
  }
}