@import "../global/config.scss";
@import "../global/mixins.scss";

.main-footer {
  background: linear-gradient(135deg, lighten( $dark-color, 10%) 0%, darken($dark-color, 10%) 100%);
  padding-top: 47px;

  .outer-container {
    background: linear-gradient(-135deg, lighten( $sd-main-color, 10%) 0%, darken($sd-main-color, 10%) 100%);
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -3px;

    @include from(500px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    a {
      color: darken($light-color, 25%);
      font-size: $font-size-m;
      display: inline-block;
      padding: 0 5px 5px 5px;

      @include transition();
      @include link_hover($white);
    }
    .active-footer-link {
      color: lighten($sd-main-color, 12%);
      @include link_hover(lighten($sd-main-color, 12%));
    }
  }
}

.footer-adverts-container {
  margin: 9px 0 47px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  div:first-child,
  div:last-child {
    img {
      width: 100%;
      max-width: 300px;
    }

    @include from(650px) {
      img {
        width: 100%;
        max-width: 750px;
      }
    }
  }

  div:first-child {
    display: block;

    @include from(650px) {
      display: none;
    }
  }

  div:last-child {
    display: none;

    @include from(650px) {
      display: block;
      width: 100%;
    }
  }
}

.footer-description {
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    text-align: center;
    display: block;
    color: black;
    font-size: $font-size-s;
    margin: 0 25px 0 0;
  }

  .cert {
    width: 100px;

    img {
      display: block;
      width: 100%;
    }
  }

  a {
    color: $white;
  }
}