@import "../global/config.scss";
@import "../global/mixins.scss";

.main-header {
  @include bgc_img("../../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 25;
  overflow: hidden;

  &.home {
    height: 500px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark-color, 0.85);
    z-index: -1;
  }

  .outer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darken($dark-color, 5%);
    z-index: 30;
  }
}

.main-header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;

  @include from( 650px ) {
    justify-content: flex-start;
  }
}

.main-header-logo {
  color: $light-color;
  font-size: $font-size-l;
  display: block;
  border-right: 1px solid darken($light-color, 40%);
  padding-right: 20px;
  margin-right: 21px;
}

.main-header-show-nav-btn {
  @include sd_btn($padding: 10px 15px, $font-size: $font-size-s);
  margin-left: 10px;
}

.main-header-show-tv-btn {
  @include main_btn($padding: 10px 15px, $font-size: $font-size-s);
}

.main-header-contact {
  display: none;

  @include from(650px) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    .email-show-contact {
      margin-right: 30px;
      cursor: pointer;
    }

    span {
      font-size: $font-size-s;
      color: $light-color;
      font-style: normal;
    }
  }
}

.main-header-content,
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  width: 100%;

  @include from(600px) {
    // height: 500px;
    // padding: 0;
  }

  h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 55px;
    color: $white;
    margin-top: 38px;

    @include from(450px) {
      font-size: $font-size-h1 * 1.2
    }

    @include from(550px) {
      font-size: $font-size-h1 * 1.4;
    }
  }

  p {
    margin: 28px auto 0;
    font-size: $font-size-l;
    font-weight: 300;
    text-align: center;
    line-height: 38px;
    color: $light-color;

    span {
      font-weight: $font-weight-semi-bold;
      color: lighten($sd-main-color, 12%);
    }

    @include from(550px) {
      font-size: $font-size-l * 1.4;
      width: 75%;
    }
  }

  .divider {
    display: block;
    margin: 24px auto 30px;
    width: 100px;
    height: 1px;
    background: rgba($white, 0.3);
    position: relative;
  }

  button {
    @include main_btn($font-size: $font-size-l);
    font-weight: $font-weight-normal;
  }
}

.header-content {
  height: 200px;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 20px;

  h1 {
    font-size: $font-size-h3;
    text-align: left;
  }

  .divider {
    margin: 10px 0 0 0;
    width: 100%;
  }
}

.alert-popup {
  position: fixed;
  overflow: scroll;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba( $dark-color, 0.98 );
  z-index: 9999;
  padding: 50px 0;
  

  .container {
    width: 100%;
  }

  p {
    color: $white;
    text-align: center;
    font-size: 18px;
    line-height: 32px;

    &.top-info {
      margin: 0 0 30px 0;
    }

    &.middle-info {
      margin: 30px 0;
    }
  }

  .bottom-info {
     p {
       // text-align: left;
     }
     span {
      color: $sd-main-color;
     }
  }

  #hide-alert-popup {
    @include main_btn();
    margin-top: 30px;
  }

  &.inactive {
    display: none;
  }
}

#alert-popup-map {
  height: 200px;
  
  @include from( 700px ) {
    height: 300px;
  }

  @include from( 1000px ) {
    height: 400px;
  }
}

