@import "../global/config.scss";
@import "../global/mixins.scss";

/************************************
::::: Insert offer page :::::
************************************/

.insert {
  margin-top: 50px;
  padding-bottom: 0;

  .insert-lists {
    margin: 0 auto;
    text-align: center;
  }

  .insert-list {
    display: inline-block;
    margin-bottom: 10px;

    button {
      @include main_btn($padding: 7px 10px, $font-size: $font-size-xs);
    }
  }

  .insert-list-active button {
    @include sd_btn($padding: 7px 10px, $font-size: $font-size-xs);
  }

  .insert-items {
    @include transition();
    margin-top: 11px;
  }

  .insert-item {
    display: none;
    opacity: 0;

    .item-header {
      margin-bottom: 20px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .item-footer {
      position: relative;
      background: $main-color;
      padding: 50px 0;
      margin-top: 30px;

      li, p, h2, h3, h4, h5, h6 {
        color: white;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 9999px;
        height: 100%;
        background: $main-color;
      }

      &:before {
        left: auto;
        right: 100%;
      }
    }

    img {
      margin: 0 auto;
      text-align: center;
      display: block;


      @include from(450px) {
        float: left;
        margin-right: 30px;
      }
    }

    h4 {
      margin-bottom: 20px;
    }

    p,
    li {
      margin-bottom: 10px;
    }

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $sd-main-color;
      }
    }
  }

  .insert-item-active {
    display: block;
    animation: item_active 0.5s forwards 0.2s;

    @keyframes item_active {
      to {
        opacity: 1;
      }
    }
  }
}