@import "../global/config";
@import "../global/mixins";

.company {
	position: relative;
	z-index: 0;
	margin-top: 53px;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($white, 0.75);
		z-index: -1;

		@include from(700px) {
			display: none;
		}
	}

	a {
		color: $sd-main-color;
	}

	p {

		font-size: $font-size-m;		
		margin-bottom: 20px;

		@include from(700px) {
					text-align: center;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
	.company-content {

		img {
			margin-bottom: 20px;

			@include from( 700px ) {
				margin-bottom: 0;
			}
		}


		@include from(700px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
		}

		p {
			
			@include from(700px) {
				margin-left: 50px;
			text-align: left;
			}
		}
	}
}
