@import "../global/config";
@import "../global/mixins";

.repair-container {
  margin-top: 30px;
}

.repair {
  background: linear-gradient(-135deg, lighten( $main-color, 15% ) 0%, darken( $main-color, 15% ) 100% );
  overflow: hidden;
  z-index: 0;
  position: relative;

  p {
    text-align: center;
    font-size: $font-size-m;
    margin-bottom: 20px;
    color: $white;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .offer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    div:first-child,
    div:nth-child(2) {
      position: relative;
      background: $dark-color;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 1000%;
        height: 100%;
        background: $dark-color;
      }

      &:before {
        left: auto;
        right: 100%;
      }
    }

    div:first-child h5,
    div:first-child li {
      color: white;
    }

    div:nth-child(2) {
      background: white;
      // justify-content: flex-end;
     
      h5,li,p {
         color: $dark-color;
      }
      &:before,
      &:after {
        background: white;
      }
    }

    div:nth-child(3) {
      justify-content: center;
      padding: 60px 0 40px;
    }

    div {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 60px 0;
    }

    img {
      z-index: 1;
      position: absolute;
      bottom: -70px;
      
      
      display: none;

      @include from(500px) {
        display: block;
        height: 120%;
        left: calc(100% - 130px);
      }

      @include from(700px) {
        height: 140%;
        left: calc(100% - 200px);
      }

      @include from ( 900px ) {
        height: 160%;
        bottom: -100px;
      }

           @include from ( 1100px ) {
        height: 160%;
        bottom: -100px;
        left: calc(100% - 300px);
      }
     }

    div:nth-child(2) {
      li {
        width: 100%;

      @include from(600px) {
        width: 48%;
      }
    }
      h5, ul {
        width: 100%;

      @include from(500px) {
        width: 70%;
      }
      }
    }

    h5 {
      width: 100%;
      color: $white;
      margin-bottom: 15px;
      margin-top: 30px;
      font-size: 24px;

      @include from(720px) {
        margin-top: 0;
      }
    }
    p {
      width: 70%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }

    li {
      width: 100%;
      color: $white;
      position: relative;
      padding-left: 20px;
      margin-bottom: 2px;
      font-size: $font-size-m;

      @include from(600px) {
        width: 48%;
      }

      @include from(800px) {
        width: 30%;
      }

      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: lighten($sd-main-color, 12%);
      }
    }

    p {
      text-align: left;
    }

    a, span {
      color: lighten($sd-main-color, 20%);
    }

    span {
      text-transform: uppercase;
    }
  }

  .link-container {
    text-align: center;
    margin-top: 20px;

    a {
      @include sd_btn($font-size: $font-size-m);
      display: inline-block;
    }
  }
}