@import "../global/config";
@import "../global/mixins";

.back-to-top {	
	position: fixed;
	bottom: 50px;
	right: -100px;
	width: 40px;
	height: 40px;
	background: $sd-main-color;
	border-radius: 5px;
	cursor: pointer; 
	@include transition();
	color: $white;

	&:hover {
		background: darken($sd-main-color, 7%);
	}
}

.back-to-top-hidden {
	visibility: hidden;
}

.back-to-top-animate {
	right: 30px;
}