@import "../global/config";
@import "../global/mixins";

.recommendation {
	background: linear-gradient(135deg, lighten( $main-color, 15% ) 0%, darken( $main-color, 15% ) 100% );
}

.recommendation-links a {
	position: relative;
	display: block;
	width: 80%;
	margin: 0 auto 10px;
	background: $white;
	border-radius: 5px;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background: $sd-main-color;
		@include transition();
	}

	&:hover {
		&:after {
			left: 0;
		}
		p {
			left: 50%;
		}
		img {
			opacity: 0;
		}
	}

	@include from(500px) {
		display: flex;
		align-items: center;
		width: 45%;
		background: $white;
	}

	@include from(750px) {
		display: flex;
		align-items: center;
		width: 16%;
		background: $white;
		margin-bottom: 0;
	}

	p {
		width: 100px;
		text-align: center;
		position: absolute;
		border-radius: 5px;
		top: 50%;
		left: -100%;
		font-size: 12px;
		font-weight: 400;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: $white;
		border: 1px solid $white;
		padding: 5px 15px;
		@include transition();
	}
	span {
		font-weight: 500;
		display: block;
		color: $white;
	}
}

.recommendation-links img {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	background: $white;

	@include transition();
}

.recommendation-links {
	@include from(500px) {
		display: flex;
		flex-wrap: wrap;
	}	
}