@import "../global/config";
@import "../global/mixins";

.offer-items {
  display: flex;
  flex-direction: column;

  @include from(550px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
    padding: 20px 10px;
    min-height: 85px;
    width: 100%;

    @include from(550px) {
      width: 50%;
    }

    p {
      width: calc( 100% - 80px);
      color: darken($light-color, 45%);
    }

    span {
      font-size: 40px;
      color: darken($light-color, 35%);
      width: 80px;
      display: flex;
      justify-content: center;
    }

    @include from(700px) {
      width: 50%;  
      padding: 50px;
      min-height: 180px;

      span {
        font-size: 55px;
      }

      p {
        width: calc( 100% - 80px);
        color: darken($light-color, 45%);
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6) {
        background: $light-color;
        position: relative;

        p, span {
          color: lighten($dark-color, 10%);
        }

        &:after {      
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 1000%;
          height: 100%;
          background: $light-color;
        }
      }

      &:nth-child(3) {
        &:after {
          left: auto;
          right: 100%;
        }
      }

    }
  }

  .offer-icon {
    display: block;
    height: 45px;
    margin: 0 auto 10px;
    background: lighten($dark-color, 10%);
    padding: 10px;
    border-radius: 3px;

    @include from(700px) {
      position: absolute;
      top: 20px;
      z-index: 20;
      left: 20px;
    }

    .shape_1,
    .shape_2 {
      fill: $white;
    }
  }

  p {
    font-weight: $font-weight-normal;
    font-size: $font-size-m;
    line-height: 20px;
    margin-left: 15px;
    color: $dark-color-desc;

    @include from(700px) {    
      
      line-height: 1.4;
    }

    @include from(750px) {
      margin-left: 65px;
    }
  }
}

.links-offer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include from(650px) {
    flex-direction: row;
  }
}

.offer-more {
  @include sd_btn($font-size: $font-size-m);
  margin: 10px 20px 0 20px;

  @include from(650px) {
    margin-top: 0;
  }
}

.insert-offer-more {
  @include main_btn($font-size: $font-size-m);
  margin: 10px 20px 0 20px;

  @include from(650px) {
    margin-top: 0;
  }
}