@import "../global/config";
@import "../global/mixins";

.help {
	background: $white;
	h5 {
		margin: -5px auto 15px;
		text-align: center;

		@include from(600px) {
			width: 80%;
		}
	}
}


.instruction-link {
	width: 100%;
	text-align: center;
	margin: 16px 0 8px;

	a {
		display: inline-block;
		@include main_btn($font-size: $font-size-m);;
	}
}

.instruction-phone {
	text-align: center;
	width: 100%;
	margin-top: 18px;
	margin-bottom: -3px;

	span {
		color: $sd-main-color;
		font-weight: $font-weight-bold;
	}
}