@import "../global/config.scss";
@import "../global/mixins.scss";

.main-nav {
	@include transition();

	position: fixed;
	top: 0;
	bottom: 0;
	left: -100%;
	overflow-y: auto;
	display: none;
	flex-direction: column;
	padding: 20px 0;
	width: 100%;
	min-width: 300px;
	background: darken($dark-color, 10%);
	background: $dark-color;
	z-index: 30;
	
	@include from(500px) {
		width: 400px;
		left: -400px;
		padding: 50px 0;
	}
}

.main-nav-active {
	left: 0;
}

.hide-main-nav {
	@include main_btn($font-size: $font-size-m, $padding: 20px 30px);

	width: 150px;
	display: inline-block;
	line-height: 0;
	margin: 0 auto;
}

.main-nav .menu {
	margin: 30px 0;
	padding: 0;
	list-style: none;
}

.main-nav .menu li {
	text-align: center;
}

.main-nav .menu li a {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-weight: $font-weight-normal;
	color: $light-color;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 100%;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: 0.3s;
	}

	&:hover {
		&:before {
			right: 0;
			background: darken( $dark-color, 5% );
		}
	}
}

.menu li:last-child a {
	&:after {
		display: none;
	}
}

.main-nav .menu li .active-header-link {
	&:before {
			right: 0;
			background: darken( $dark-color, 5% );
		}
}

.main-nav-contact {
	width: 80%;
	margin: 0 auto 30px;
	padding: 20px 10px;
	box-sizing: border-box;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	color: $dark-color;
	background: $light-color;
}

.main-nav-contact p span {
	font-weight: $font-weight-normal;
}

.main-nav-contact-title {
	color: $sd-main-color;
	font-weight: $font-weight-normal;
}

.main-nav-links {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.main-nav-links a {
	display: block;
	line-height: 30px;
	font-weight: $font-weight-normal;
	font-size: $font-size-m;
	color: lighten($sd-main-color, 12%);

	@include link_hover($color: lighten($sd-main-color, 5%));
}

.main-nav-links-title {
	margin-bottom: 20px;
	color: $light-color;
}

/************************************
::::: Recommendation links :::::
************************************/

.nav-recommend {
	width: 80%;
	margin: 0 auto;
	padding: 20px 20px 0;
	text-align: center;

	p {
		margin-bottom: 20px;
		color: $white;
	}

	a {
		padding: 15px 5px;
		border-radius: 5px;
		margin-bottom: 20px;
		background: $white;
		display: block;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 60%;
	}
} 